.blog-page-container {
  display: flex;
  height: 100vh;  
}

.blog-page-content {
  flex-grow: 1;
  margin-left: 5vw; 
  padding: 20px;
  font-family: Arial, sans-serif;
  overflow-y: auto;
}

.blog-page-post {
  background: #f9f9f9;
  padding: 15px;
  border-radius: 5px;
}

.blog-page-post-list {
  list-style: none;
  padding: 0;
}

.blog-page-post-item {
  cursor: pointer;
  color: blue;
}

.blog-page-post-item:hover {
  text-decoration: underline;
}

.blog-page-latest-post-btn {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 15px;
  margin-bottom: 10px;
  cursor: pointer;
  border-radius: 5px;
}

.blog-page-latest-post-btn:hover {
  background-color: #0056b3;
}

