body, html {
  overflow: hidden;
  height: 100%;
}

.message-bottle-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-height: 100vh;
  padding-top: 80px;
  background: url('/src/assets/waves.png') center/cover no-repeat;
}

.message-bottle-title {
  font-size: 24px;
  color: #333;
  margin-bottom: 15px;
}

.message-bottle-input {
  width: 80%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #000000;
  border-radius: 5px;
  font-size: 16px;
  background-color: #ffffff;
}

.message-bottle-button {
  background-color: #8fbeff;
  color: white;
  border: none;
  padding: 10px 15px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 15px;
  transition: background 0.3s;
}

.message-bottle-button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.message-bottle-button:hover:not(:disabled) {
  background-color: #0056b3;
}

.message-bottle-list {
  list-style: none;
  padding: 0;
  margin-top: 15px;
}

.message-bottle-list li {
  background: #fff;
  margin: 5px 0;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(99, 99, 99, 0.1);
}

.message-bottle-message {
  font-size: 18px;
  color: #666;
  margin-top: 20px;
}

.message-bottle-countdown {
  font-size: 18px;
  font-weight: bold;
  margin-top: 10px;
}

.message-bottle-open-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: transparent;
  border: none;
  cursor: pointer;
  margin-top: 20px;
}

.bottle-image {
  width: 100px;
  height: auto;
  transition: transform 0.3s;
}

.bottle-image:hover {
  transform: scale(1.1);
}
<<<<<<< HEAD
=======

>>>>>>> 7c59e5a (Refactored Css styling from Master/improve Achievements page styling)
